@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.main {
  padding: 40px 20px;
  width: 1240px;
  height: 918px;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif; /* Изменили шрифт */
  background-color: white;
}

.main-container {
  border-radius: 0;
  padding: 24px;
  background-color: white;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.main-title {
  color: #00963D;
  margin: 0 0 32px 0;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif; /* Добавили шрифт */
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(4, 295px);
  grid-auto-rows: 400px;
  column-gap: 20px;
  row-gap: 24px;
}

@media (max-width: 768px) {
  .main {
    padding: 20px 10px;
  }

  .main-container {
    padding: 16px;
  }

  .main-title {
    font-size: 24px;
  }

  .main-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
  }
}

@media (max-width: 480px) {
  .main-grid {
    grid-template-columns: 1fr;
  }
}
