@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

.search-container {
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 20px;
}

.search-container .search-icon {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: #ff6f1e;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.search-container .search-icon:hover {
  cursor: pointer;
}

.search-container .search-icon::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 16px;
  right: 0;
  bottom: 0;
  left: 16px;
  width: 8px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.search-container .search-icon::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -2px;
  right: 0;
  bottom: 0;
  left: -2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}

.search-container input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: #ff6f1e;
  color: white;
  text-shadow: 0 0 10px #ff6f1e;
  padding: 0 60px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #ff6f1e, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.search-container input:hover {
  cursor: pointer;
}

.search-container input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}

.search-container input:focus ~ .search-icon {
  right: -250px;
  background: #151515;
  z-index: 6;
}

.search-container input:focus ~ .search-icon::before {
  top: 0;
  left: 0;
  width: 18px;
}

.search-container input:focus ~ .search-icon::after {
  top: 0;
  left: 0;
  width: 18px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}

.search-container input::placeholder {
  color: white;
  opacity: 0.7;
  font-weight: bolder;
}
